# fastlane specific
fastlane/report.xml

# deliver temporary files
fastlane/Preview.html

# snapshot generated screenshots
fastlane/screenshots

# scan temporary files
fastlane/test_output

# Fastlane builds
builds/*

pc-api-4621041603320302246-721-584b189a8693.json

*.keystore
*.jks
*.hprof
